.btn-primary{
  background-color: brown;
}
body{
  background: #00405a;
}
.jumbotron{
  background: #072c4e;
}
.movies-cat ul a{
  background: #072c4e;
  padding-left: 25px; 
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
background: #00648e;
}
.navbar-brand{
  /* font-family: 'Fahkwang', sans-serif; */
  /* font-family: 'Josefin Sans', sans-serif; */
}
.navbar-right{
  width: 460px;
  display: inline-flex;
}
.movies-cat {
  background: #072c4e;
  padding: 0px;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus{
  background: darkred;
}
.orange-text{
  border-bottom: 4px solid #00648e;
    padding-bottom: 9px;
    font-family: 'Bree Serif', serif;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
  background: darkred;
}
.text-ellipsis a{
 color: deepskyblue !important; 
 /* font-weight: 600; */
 font-family: 'Varela Round', sans-serif;
}
.app-container {
    margin-top: 60px;
  }
  .jumbotron{
    padding-top: 10px;
    padding-bottom: 8px;
    border-bottom: 4px solid brown;
    margin-bottom: 17px;
  }
  .caption p a{
    color:coral;
  }
  .jumbotron p {
    /* margin-bottom: 15px; */
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
  }
  a.list-group-item{
    font-family: 'Acme', sans-serif;
  
}
.navbar-inverse .navbar-nav>li>a{
  font-size:12px;
}
.home_nav{
  margin-left: 0px;
  padding-left: 0px; 
}
.navbar-header{
  /* margin-left: -105px !important; */
  background: darkred;
  padding-left: 53px;
  padding-right: 53px;
}
h3{
  text-transform: capitalize;
  font-family: 'Cabin', sans-serif;
}
/* .item img{
  width: 100%;
   height: 300px;
} */
  .row.is-flex {
    display: flex;
    flex-wrap: wrap;
  }
  
  .row.is-flex>[class*='col-'] {
    display: flex;
    flex-direction: column;
  }
  
  .panel-heading{
    background: brown;
    padding-left: 27px;
  }
  a.list-group-item:hover, button.list-group-item:hover, a.list-group-item:focus, button.list-group-item:focus{
    background: brown;
  }

  /*
  * And with max cross-browser enabled.
  * Nobody should ever write this by hand.
  * Use a preprocesser with autoprefixing.
  */
  
  .row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .row.is-flex>[class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .loader,
  .loader:before,
  .loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
  }
  
  .loader {
    color: #ffffff;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  .loader:before,
  .loader:after {
    content: '';
    position: absolute;
    top: 0;
  }
  
  .loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .loader:after {
    left: 3.5em;
  }
  
  @-webkit-keyframes load7 {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }
  
  @keyframes load7 {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }
  /* .navbar-header{
    display: none;
  }
  @media only screen and (max-width: 600px) {
.navbar-header{
display: block;
}
  } */